.navbar {
	background-color: #FFA07A;
}

.navbar-style {
	text-align: center;
}
.text-center{
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 20px
}
}

.large-container {
	height: 1000px;
}
.div-style {
	background-color: #D3D3D3;
	padding: 10px;
	margin: 5px;
}
.navbar-brand {
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-top: 10px

}
.navbar-default .navbar-brand {
	color: #FAF0E6;
}
.navbar-default .navbar-nav>li>a {
	color: #FAF0E6;
	border-bottom: 1px solid;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #cccccc;
}

p {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
	margin-top: 0px;
}

